{% load user_filters %}
{% if user.is_authenticated %}
    <div class="card my-4 shadow">
        <h5 class="card-header">New comment:</h5>
        <div class="card-body">
            <form method="post" action="{% url 'posts:add_comment' post.id %}">
                {% csrf_token %}
                    <div class="form-group mb-2">
                        {{ form.text|addclass:"form-control" }}
                    </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endif %}

{% if comments %}
    <div class="card my-4 shadow">
        <h5 class="card-header">Comments:</h5>
        <div class="card-body">
            <ul class="media-body list-group list-group-flush">
                {% for comment in comments %}
                    <li class="list-group-item">
                        <h5 class="mt-0">
                            <a href="{% url 'posts:profile' comment.author.username %}">
                                {{ comment.author.username }}
                            </a>
                        </h5>
                        <p>
                            {{ comment.text }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}