{% extends "base.html" %}
{% block title %}Обновление пароля{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <div class="card shadow">
                    <div class="card-header">
                        {% block password_header %}
                            Восстановление пароля
                        {% endblock %}
                    </div>
                    <div class="card-body mx-3">
                        {% block password_body %}
                            <p>Восстановление пароля не работает</p>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}