{% extends 'base.html' %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-3 mb-3 mb-sm-0">
                <div class="card text-bg-primary shadow">
                    <h5 class="card-header">Общая информация</h5>
                    <div class="card-body">
                        <h5 class="card-title">Привет, я автор</h5>
                        <p class="card-text">
                            Тут я размещу информацию о себе, используя свои умения верстать.
                            Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста
                        </p>
                        {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 