{% extends 'base.html' %}
{% block title %}
    Вы вышли из системы
{% endblock %}
{% block content %}
    <div class="container px-5 justify-content-center col-lg-6">
      <div class="p-5">
        <div class="card shadow">
          <div class="card-header">
            Выход
          </div>
          <div class="card-body">
            <p>
              Вы вышли из своей учётной записи. Ждём вас снова!
            </p>
          </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col -->
    </div> <!-- row -->
{% endblock %} 